<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>

    <form action="/myForm" method="post">
        <textarea name="movie_list" placeholder="Movies seperated by comma"></textarea>
        <br>
        <input type="submit" value="Send">
    </form>
</body>

</html>