<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movieflix</title>
</head>

<body>
    <% const movieExists = [] %>
        <% description.forEach(movie => {%>
            <% if (movie.includes(movie_name)) {%>
                <h1 class="description">
                    <%= movie[0] %>
                </h1>
                <p class="description">
                    <%= movie[1] %>
                </p>
                <p><a href="/">Go back to homepage</a></p>
                <% movieExists.push("found") %>
                    <% }})%>

                        <% if (movieExists[0] !== "found") {%>
                            <p class="description">Movie could not be found</p>
                            <% }%>

</body>

</html>