<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movieflix</title>
</head>

<body>
    <% if (description.includes(movie_name)) {%>
        <h1 class="description">
            <%= description[0] %>
        </h1>
        <p class="description">
            <%= description[1] %>
        </p>
        <p><a href="/">Go back to homepage</a></p>
        <% } else {%>
            <p class="description">Movie could not found</p>
            <% }%>

</body>

</html>